GROQ_API_KEY=
# GROQ_WHISPER_MODEL=whisper-large-v3-turbo
# GROQ_WHISPER_MODEL=whisper-large-v3

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET_PUBLIC=

SLACK_WEBHOOK_URL=https://hooks.slack.com/services/T.../B.../...
